/*--projects--*/
.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   overflow-y: hidden;
  

}
.project-container h1{
    font-size: 5rem;
    color: var(--font-dark);
  

}
.tools-container::-webkit-scrollbar{
    display: none;
}

.project-container1{
    display: flex;
    width: 100%;
    height:70vh;
  justify-content: center;
   overflow-y: hidden;
  

}
.project-content1{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.project-content1 h1{
    font-size: 5rem;
    color: var(--font-dark);

}

/*---tools--*/

.tools-container1{
    margin: 30px auto;
    width: 80%;
    
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    perspective: 500px;
}
.tools-container::-webkit-scrollbar{
    display: none;
}
.slide2 {
    display: flex;
    gap: 50px;
    padding: 1em;
    animation: spin 7s linear infinite;
    align-items: center;
  
     
}

.slide2 img {
    width: 250px;
    height: 300px;
    flex: 0 0 auto;   /* allow natural width */
    box-shadow: var(--border-lite);
   
    transition: transform 0.6s ease, filter 0.6s ease;
    
}

.slide2 img:hover {

    transform: scale(1.1);
}
.certificate{
    margin: 30px auto;
    width: 80%;
    
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    perspective: 500px;
}
.certificate::-webkit-scrollbar{
    display: none;
}
.slide3 {
    display: flex;
    gap: 50px;
    padding: 1em;
    animation: spin 7s linear infinite;
    align-items: center;
  
     
}

.slide3 img {
    width: 350px;
    height: auto;
    flex: 0 0 auto;   /* allow natural width */
    box-shadow: var(--border-lite);
  
    transition: transform 0.6s ease, filter 0.6s ease;
    
}

.slide3 img:hover {
    filter: blur(0);
    transform: scale(1.1);
}

@media screen and (max-width: 768px) and (min-width: 375px) {


    /*--projects--*/
.project-content {
        height: 70vh;
    }
.project-content h1 {
        font-size: 3rem;
        color: var(--font-dark);
        white-space: nowrap;
    }
    .tools-container{
    margin: 30px auto;
    width: 80%;
    
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    perspective: 500px;
}

.project-content{
    display: flex;
    width: 100%;
    height:100dvh;
  justify-content: center;
   overflow-y: hidden;
  

}
.project-content1{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    
}
.project-content1::-webkit-scrollbar{
    display: none;
}
.project-content1 h1{
    font-size: 3.5rem;
    color: var(--font-dark);
    text-align: center;

}
/*---about--*/

/*---tools--*/

.tools-container1{
    margin: 30px auto;
    width: 80%;
    height: auto;
    
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    perspective: 500px;
    
}

.tools-container1::-webkit-scrollbar{
    display: none;
}
.slide2 {
    display: flex;
    gap: 50px;
    padding: 1em;
    animation: spin 7s linear infinite;
    align-items: center;
  
     
}

.slide2 img {
    width: 250px;
    height: 300px;
    flex: 0 0 auto;   /* allow natural width */
    box-shadow: var(--border-lite);
  
    transition: transform 0.6s ease, filter 0.6s ease;
    
}

.slide2 img:hover {
    
    transform: scale(1.1);
}
.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   overflow-y: hidden;
  

}
.project-container h1{
    
    font-size: 3.5rem;
    color: var(--font-dark);
    text-align: center;
  

}
.certificate{
    margin: 30px auto;
    width: 80%;
    
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    perspective: 500px;
    
}

.certificate::-webkit-scrollbar{
    display: none;
}
.slide3 {
    display: flex;
    gap: 50px;
    padding: 1em;
    animation: spin 7s linear infinite;
    align-items: center;
  
     
}

.slide3 img {
    width: 300px;
    height: auto;
    flex: 0 0 auto;   /* allow natural width */
    box-shadow: var(--border-lite);
    
    transition: transform 0.6s ease, filter 0.6s ease;
    
}

.slide3 img:hover {

    transform: scale(1.1);
}
}