
@keyframes up {
    0% {
        transform: translateY(0) ;
    }
    25% {
        transform: translateY(-8px) ;
        
    }
    50%{
        transform: translateY(0);
       
    }
    75% {
        transform: translateY(8px);
        
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes levitate {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(100px);
    }
    0%{
        transform: translateY(0);
    }
}
@keyframes gradient {
  to{
    background-position: 200%;
  }
}

@keyframes spin {
    from{
        translate: 0;
    }
    to{
        translate: -100%;
    }
}
@keyframes wiggle {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 25deg;
    }
    100%{
        rotate: 0deg;
    }
}
@keyframes falldown {
    0%{
        transform: translateY(0);
    }
   
    50%{
        transform: translateY(-10%) rotate(10deg);
    }
    75%{
        transform: translateY(-5%) rotate(-10deg);
    
    }
    
    100%{
        transform: translateY(0) rotate(0deg);
    }
}
/*---tagline--*/
@keyframes glide {
    from{
        transform: translateY(300px) scale(0.5);
        opacity: .1;
    }
    to{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes left-slide {
    from{
        transform: translateX(-300px);
        opacity: .1;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes right-slide {
    from{
        transform: translateX(300px);
        opacity: .1;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes rotate {
    from{
        transform: rotateY(odeg);
    }
    to{
        transform: rotateY(360deg);
    }
}
@keyframes bounce1 {
    0%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(0);
    }
     100%{
        transform: translateY(100px);
    }
}
@keyframes bounce2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(120px);
    }
     100%{
        transform: translateY(0);
    }
}
@keyframes bounce3 {
    0%{
        transform: translateY(80px);
    }
    50%{
        transform: translateY(0);
    }
     100%{
        transform: translateY(80px);
    }
}
@keyframes bounce4 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(120px);
    }
     100%{
        transform: translateY(0);
    }
}
@keyframes bounce5 {
    0%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(0);
    }
     100%{
        transform: translateY(100px);
    }
}
/*---roll-*/
@keyframes roll1 {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    25%{
         transform: translateX(30%) rotate(90deg);
    }
     50%{
        transform: translateX(50%)rotate(180deg);
    }
     75%{
         transform: translateX(70%) rotate(270deg);
    }
     100%{
        transform: translateX(100%)rotate(360deg);
    }
    
}
@keyframes roll2 {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    25%{
         transform: translateX(30%) rotate(90deg);
    }
     50%{
        transform: translateX(50%)rotate(180deg);
    }
     75%{
         transform: translateX(70%) rotate(270deg);
    }
     100%{
        transform: translateX(100%)rotate(360deg);
    }
}
@keyframes roll3 {
     0%{
        transform: translateX(0) rotate(0deg);
    }
    25%{
         transform: translateX(30%) rotate(90deg);
    }
     50%{
        transform: translateX(50%)rotate(180deg);
    }
     75%{
         transform: translateX(70%) rotate(270deg);
    }
     100%{
        transform: translateX(100%)rotate(360deg);
    }
}
@keyframes roll4 {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    25%{
         transform: translateX(30%) rotate(90deg);
    }
     50%{
        transform: translateX(50%)rotate(180deg);
    }
     75%{
         transform: translateX(70%) rotate(270deg);
    }
     100%{
        transform: translateX(100%)rotate(360deg);
    }
}
@keyframes roll5 {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    25%{
         transform: translateX(30%) rotate(90deg);
    }
     50%{
        transform: translateX(50%)rotate(180deg);
    }
     75%{
         transform: translateX(70%) rotate(270deg);
    }
     100%{
        transform: translateX(100%)rotate(360deg);
    }
}
/*---full animation page loading--*/
@keyframes glidess {
    from{
        transform: translateY(-300px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}